* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 20px 0;
  width: 100%;
}

.git-logo {
  max-width: 300px;
  margin-left: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 420px;
}

.list-title {
  color: #f05033;
  font-size: 28px;
}

.list-header {
  border-bottom: 1px solid rgb(192, 192, 192);
}

.items {
  padding: 10px;
}

.items > li {
  list-style: none;
  padding: 0px 5px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: padding 1s, color 0.5s;
  display: flex;
  align-items: center;
}

.items > li:hover {
  background: #f05033;
  padding-left: 50px;
  font-size: 20px;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gif {
  flex: 1;
  margin: 86px;
  border: 10px double #f05033;
}
